%nav#menu-ui.clearfix.menu-ui
  %a#filter-all.all{:href => "#"} All businesses
  %a#filter-zipcode.zipcode{:href => "#"} Zipcode 90064
  %a#filter-business.business{:href => "#"} Active Life Businesses